{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h1 class="my-0 mr-md-auto font-weight-normal">ТЭП Квартирография</h1>

    <a class="btn btn-outline-primary" href="{% url 'admin:index' %}">Администрирование</a>

</div>



{% block content %}
{% endblock %}




<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>