{% extends 'apartments/base.html' %}

{% block content %}

    <div class="container">
        <div class="row text-center">
            {% for project in projects %}
                <div class="col-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <a href="{% url 'apartments:p_view' pk=project.pk %}" class="my-0 font-weight-bold">{{ project.name }}</a>
                            {% if project.creator == user %}
                            <a href="{% url 'apartments:p_delete' pk=project.pk %}">❌</a>
                            <form method="post" action="{% url 'apartments:project_duplicate' project.pk %}">
                                {% csrf_token %}
                                <button type="submit">+</button>
                            </form>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <table class="table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Кол-во</th>
                                        <th scope="col">S жил</th>
                                        <th scope="col">S ЛП(k)</th>
                                        <th scope="col">S вкл ЛП</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>{{ project.sum_count_project }}</td>
                                        <td>{{ project.sum_small_square_project }}</td>
                                        <td>{{ project.sum_shortened_square_project }}</td>
                                        <td>{{ project.sum_full_square_project }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}