{% extends 'apartments/base.html' %}
{% load my_filters %}

{% block content %}

<div class="row text-center">
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h1>{{ project.name }}</h1>
                {% if project.creator == user %}
                    <a href="{% url 'apartments:p_edit' pk=project.pk %}">✎</a>
                    <a href="{% url 'apartments:p_delete' pk=project.pk %}">❌</a>

                {% endif %}
            </div>
        </div>
    </div>
</div>



<div class="pricing-header px-3 py-2 pt-md-5 pb-md-4 mx-auto text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Количество</th>
                <th scope="col">Площадь жилая</th>
                <th scope="col">Площадь без летних</th>
                <th scope="col">Площадь с п.коэфициентами</th>
            </tr>
        </thead>
        <tbody>
            {% if project.sum_s_count_project != 0 %}
            <tr>
                <th class="table-danger">Студии</th>
                <td class="table-danger">{{ project.sum_s_count_project }}</td>
                <td class="table-danger">{{ project.sum_s_small_square_project }}</td>
                <td class="table-danger">{{ project.sum_s_shortened_square_project }}</td>
                <td class="table-danger">{{ project.sum_s_full_square_project }}</td>
            </tr>
            {% endif %}
            {% if project.sum_k_count_project != 0 %}
            <tr>
                <th class="table-primary">1KK</th>
                <td class="table-primary">{{ project.sum_k_count_project }}</td>
                <td class="table-primary">{{ project.sum_k_small_square_project }}</td>
                <td class="table-primary">{{ project.sum_k_shortened_square_project }}</td>
                <td class="table-primary">{{ project.sum_k_full_square_project }}</td>
            </tr>
            {% endif %}
            {% if project.sum_kk_count_project != 0 %}
            <tr>
                <th class="table-warning">2KK</th>
                <td class="table-warning">{{ project.sum_kk_count_project }}</td>
                <td class="table-warning">{{ project.sum_kk_small_square_project }}</td>
                <td class="table-warning">{{ project.sum_kk_shortened_square_project }}</td>
                <td class="table-warning">{{ project.sum_kk_full_square_project }}</td>
            </tr>
            {% endif %}
            {% if project.sum_kkk_count_project != 0 %}
            <tr>
                <th class="table-success">3KK</th>
                <td class="table-success">{{ project.sum_kkk_count_project }}</td>
                <td class="table-success">{{ project.sum_kkk_small_square_project }}</td>
                <td class="table-success">{{ project.sum_kkk_shortened_square_project }}</td>
                <td class="table-success">{{ project.sum_kkk_full_square_project }}</td>
            </tr>
            {% endif %}
            {% if project.sum_kkkk_count_project != 0 %}
            <tr>
                <th style="background-color: #FFBD88">4KK</th>
                <td style="background-color: #FFBD88">{{ project.sum_kkkk_count_project }}</td>
                <td style="background-color: #FFBD88">{{ project.sum_kkkk_small_square_project }}</td>
                <td style="background-color: #FFBD88">{{ project.sum_kkkk_shortened_square_project }}</td>
                <td style="background-color: #FFBD88">{{ project.sum_kkkk_full_square_project }}</td>
            </tr>
            {% endif %}
            {% if project.sum_kkkkk_count_project != 0 %}
            <tr>
                <th style="background-color: #D5DBFB">5KK</th>
                <td style="background-color: #D5DBFB">{{ project.sum_kkkkk_count_project }}</td>
                <td style="background-color: #D5DBFB">{{ project.sum_kkkkk_small_square_project }}</td>
                <td style="background-color: #D5DBFB">{{ project.sum_kkkkk_shortened_square_project }}</td>
                <td style="background-color: #D5DBFB">{{ project.sum_kkkkk_full_square_project }}</td>
            </tr>
            {% endif %}
            {% if project.sum_kkkkkk_count_project != 0 %}
            <tr>
                <th style="background-color: #EDD1EB">6KK</th>
                <td style="background-color: #EDD1EB">{{ project.sum_kkkkkk_count_project }}</td>
                <td style="background-color: #EDD1EB">{{ project.sum_kkkkkk_small_square_project }}</td>
                <td style="background-color: #EDD1EB">{{ project.sum_kkkkkk_shortened_square_project }}</td>
                <td style="background-color: #EDD1EB">{{ project.sum_kkkkkk_full_square_project }}</td>
            </tr>
            {% endif %}
            {% if project.sum_kkkkkkk_count_project != 0 %}
            <tr>
                <th style="background-color: #FFF68C">7KK</th>
                <td style="background-color: #FFF68C">{{ project.sum_kkkkkkk_count_project }}</td>
                <td style="background-color: #FFF68C">{{ project.sum_kkkkkkk_small_square_project }}</td>
                <td style="background-color: #FFF68C">{{ project.sum_kkkkkkk_shortened_square_project }}</td>
                <td style="background-color: #FFF68C">{{ project.sum_kkkkkkk_full_square_project }}</td>
            </tr>
            {% endif %}
            <tr>
                <th class="table-dark">ИТОГО</th>
                <td class="table-dark">{{ project.sum_count_project }}</td>
                <td class="table-dark">{{ project.sum_small_square_project }}</td>
                <td class="table-dark">{{ project.sum_shortened_square_project }}</td>
                <td class="table-dark">{{ project.sum_full_square_project }}</td>
            </tr>
        </tbody>
    </table>
</div>


    <div class="row text-center">
        {% for section in project.sections.all|sort_list_by_name %}
            {% if section.creator == user %}
                <div class="col-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <a href="{% url 'apartments:s_edit' pk=section.pk %}" class="my-0 font-weight-bold">{{section.name|after_last_underscore}} - ({{section.sum_floors}}эт)</a>
                            <a href="{% url 'apartments:s_delete' pk=section.pk %}">❌</a>
                            <form method="post" action="{% url 'apartments:section_duplicate' section.pk %}">
                                {% csrf_token %}
                                <button type="submit">+</button>
                            </form>

                        </div>
                        <div class="card-body">
                            <table class="table-sm" style="font-size: 14px;">
                                <thead>
                                    <tr>
                                        <th scope="col">Этажей</th>
                                        <th scope="col">Тип</th>
                                        <th scope="col">S жил</th>
                                        <th scope="col">S ЛП(k)</th>
                                        <th scope="col">S вкл ЛП</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for floor in section.floor_set.all|sort_list_by_name %}
                                        <tr>
                                            <td class="table-secondary">{{ floor.count_floor }}
                                                <form method="post" action="{% url 'apartments:floor_duplicate' floor.pk %}">
                                                    {% csrf_token %}
                                                    <button type="submit">+</button>
                                                </form>
                                            </td>
                                            <td style="background-color: #f0f0f0; font-weight: bold">{{ floor.name|after_last_underscore }}</td>
                                            <td style="background-color: #f0f0f0; font-weight: bold">{{ floor.sum_small_square_floor }}</td>
                                            <td style="background-color: #f0f0f0; font-weight: bold">{{ floor.sum_shortened_square_floor }}</td>
                                            <td style="background-color: #f0f0f0; font-weight: bold">{{ floor.sum_full_square_floor }}</td>
                                            <td>
                                                <a href="{% url 'apartments:f_edit' pk=floor.pk %}">✎</a>
                                                <a href="{% url 'apartments:f_delete' pk=floor.pk %}">❌</a>
                                            </td>
                                        </tr>
                                        {% for apartment in floor.apartment_set.all|sort_list_by_number %}
                                            <tr>
                                                <td style="font-size: 13px;" >{{ apartment.number }}</td>
                                                {% if apartment.type == 's' %}
                                                    <td class="table-danger style=font-size: 11px;" >{{ apartment.type }}</td>
                                                {% elif apartment.type == '1kk' %}
                                                    <td class="table-primary style=font-size: 11px;" >{{ apartment.type }}</td>
                                                {% elif apartment.type == '2kk' %}
                                                    <td class="table-warning style=font-size: 11px;" >{{ apartment.type }}</td>
                                                {% elif apartment.type == '3kk' %}
                                                    <td class="table-success style=font-size: 11px;" >{{ apartment.type }}</td>
                                                {% elif apartment.type == '4kk' %}
                                                    <td style="background-color: #FFBD88; font-size: 11px;" >{{ apartment.type }}</td>
                                                {% elif apartment.type == '5kk' %}
                                                    <td style="background-color: #D5DBFB; font-size: 11px;" >{{ apartment.type }}</td>
                                                {% elif apartment.type == '6kk' %}
                                                    <td style="background-color: #EDD1EB; font-size: 11px" >{{ apartment.type }}</td>
                                                {% elif apartment.type == '7kk' %}
                                                    <td style="background-color: #FFF68C; font-size: 11px" >{{ apartment.type }}</td>
                                                {% else %}
                                                    <td style="font-size: 11px;" >{{ apartment.type }}</td>
                                                {% endif %}
                                                <td style="font-size: 11px;" >{{ apartment.small_square }}</td>
                                                <td style="font-size: 11px;" >{{ apartment.shortened_square }}</td>
                                                <td style="font-size: 13px;" >{{apartment.full_square }}</td>
                                                <td>
                                                    <a href="{% url 'apartments:a_edit' pk=apartment.pk %}">✎</a>
                                                    <a href="{% url 'apartments:a_delete' pk=apartment.pk %}">❌</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    <tr>
                                        <td class="table-dark">Итого</td>
                                        <td class="table-dark">{{ section.sum_count_section }}</td>
                                        <td class="table-dark">{{ section.sum_small_square_section }}</td>
                                        <td class="table-dark">{{ section.sum_shortened_square_section }}</td>
                                        <td class="table-dark">{{ section.sum_full_square_section }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}