{% extends 'apartments/base.html' %}

{% block content %}
    <div class="row text-center">
        {% for object in object_list %}
            <div class="col-3">
                <div class="card-body">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h1 class="my-0 font-weight-normal">{{object.name}}</h1>
                            <div class="card-body">
                                <button type="button" class="btw btn-sm btn-outline-secondary">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    </div>
{% endblock %}
